<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
        <h2>List of cities</h2>

        <table>
    <thead>
        <tr>
            <th> Title </th>
            <th> Author </th>
        </tr>
    </thead>
    <tbody>
		<tr th:if="${cities.empty}">
            <td colspan="2"> No Books Available </td>
        </tr>
        <tr th:each="city : ${cities}">
            <td><span th:text="${city.name}"> Title </span></td>
            <td><span th:text="${city.population}"> Author </span></td>
        </tr>
    </tbody>
</table>
    </body>
</html>


